*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    
}


/* MAIN */
.container{
	width:100%;
	display:flex;
    height:100vh;
}
.col-big{
	flex-grow:1;
}
.container-vert{
	width:200px;
    background-color:black;
	height:100%;
}
.container-hori{
	height:80px;
    background-color: rgb(8, 11, 18);
    width:100%;
    position: relative;
}
.container-body{
	width:100%;
    background-color: rgb(20, 25, 34);
	height:calc(100% - 80px);
}





/* BUTTON */
.bot-up{
    position: absolute;
    top: 20px;
    right: 10px;
    padding: 10px;
    background-color: transparent;
    border-radius: 10px;
    color: white;

    
}
/* IMG */
.sinister{
    width: 60px;
}




/* BODY */






/* FOOTER */

.footbar{
    height: 100px;
    background-color: rgb(40, 40, 40);
    display: flex;
}

.foot{
    justify-content: space-between;
}
.foot-start{
    width: 25%;
    height: 100px;
}
.foot-center{
    width: 50%;
    height: 100px;
}

.foot-end{
    width: 25%;
    height: 100px;
}