*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    
}


/* MAIN */
.horizontal{
}


.inline-block{
    display: inline-block;
}

.container-nav-body{
    display: flex;
}


.container-hori{
    height: 80px;
    background-color: rgb(8, 11, 18);
    display: flex;
}

.container-vert{
    height: 960px;
    width: 220px;
    background-color:rgb(8, 11, 18);
    display: flex;
}









/* BODY */

.flex{
    display: flex;
}
.container-body{
    width:100vw;
    height: 960px; 
    background-color: rgb(20, 25, 34);

}











/* FOOTER */

.footer{
}
.footbar{
    height: 100px;
    background-color: rgb(40, 40, 40);
}

.foot{
    justify-content: space-between;
}
.foot start{
    width: 25%;
    background-color: red;
}
.foot center{
    width: 50%;
    background-color: aqua;
}

.foot end{
    width: 25%;
}